*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}
.container{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color: #eeeeee;
}
.navbar{
    background-color: white;
    width: 750px;
    height:85px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: 0 5px 15px #5b5b5b;
}
.nav-links{
    display: flex;
    list-style: none;   
}
.nav-links a{
    text-decoration:none;
    padding:15px 20px;
    color: #111;
    font-size: 1.4em;
    font-weight: 700;
    font-family:"poppins", sans-serif;
    position: relative;
    z-index: 1;
}
.nav-links a:hover{
    background-color: #111;
    color: white;
    border-radius: 16px;
}
.products{
    position: relative;
}
.products:hover a{
    color: white;
    background-color: #111;
    border-radius: 16px;    
}
.dropdown{
    position: absolute;
    padding: 9px 0px;
    display: none;
    top: 40px;
    left: 10px;
    border-radius: 10px;
    background-color:  #eeeeee;
    box-shadow: 2px 2px 10px #5b5b5b;
}
.dropdown li{
    padding: 10px 15px;
    list-style: none;
    font-size: 1.2em;
    font-weight: 700;
    font-family:"poppins", sans-serif;
    cursor: pointer;
    border-radius: 7px;
}
.dropdown li:hover{
    color: white;
    background-color: #111;
}
.products:hover .dropdown{
    display: block;
}

